.about__section__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

.about__section__mono__slab {
  height: 415px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid blue; */
}

.about__section__container > div:nth-child(2) {
  flex-direction: row-reverse;
}

.about__mono__slab__content_1,
.about__mono__slab__content_2,
.about__mono__slab__image_2 {
  width: 50%;
}

.about__mono__slab__image_1 {
  width: 100%;
  background-image: url("../Assets//Homepage/About/about.png");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  height: 800px;
}

.about__mono__slab__image_2 {
  background-image: url("../Assets//Homepage/About/mission.png");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
}

.about__mono__slab__content_1 {
  margin-left: 96px;
}

.about__mono__slab__content_2 {
  /* margin-right: 96px; */
  margin: auto;
}

.about__mono__slab__image_2 {
  position: relative;
  height: 415px;
}

.about__mono__slab__content_1,
.about__mono__slab__content_2 {
  width: 453px;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  text-align: left;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__mono__slab__content_1 > h1,
.about__mono__slab__content_2 > h1 {
  margin: 0 0 24px 0;
  text-transform: uppercase;
}

.about__mono__slab__content_1 > p,
.about__mono__slab__content_2 > p {
  margin: 0 0 38px 0;
  color: var(--grey);
  line-height: 1.6;
}

.about__mono__slab__image__container {
  width: 50%;
  height: 415px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .about__section__mono__slab,
  .about__section__container > div:nth-child(2) {
    flex-direction: column-reverse;
    height: unset;
  }

  .about__mono__slab__content_1,
  .about__mono__slab__content_2 {
    width: 90%;
    margin: 0 auto;
  }

  .about__mono__slab__image_1,
  .about__mono__slab__image_2 {
    height: 210px;
    width: 100%;
    position: relative;
  }

  .about__mono__slab__content_1,
  .about__mono__slab__content_2 {
    padding: 37px 0 30px 0;
  }

  .about__mono__slab__content_1 > h1,
  .about__mono__slab__content_2 > h1 {
    margin: 0 0 10px 0;
  }

  .about__mono__slab__content_1 > p,
  .about__mono__slab__content_2 > p {
    letter-spacing: 0.25px;
    margin: 0 0 20px;
    line-height: 1.6;
  }
}
