.homepage__banner {
  /* overflow: hidden; */
  margin-top: 100px;
  width: 100%;
  /* margin-left: 184px; */
  margin-bottom: 70px;
  position: relative;
}

.carousel__caption {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 30%;
  width: 390px;
  margin-left: 68px;
}

.carousel__caption > h1 {
  text-align: left;
  font-size: 32px;
  font-weight: bold;
  font-family: var(--raleway);
  letter-spacing: 0.58px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}

.carousel__caption > h3 {
  text-align: left;
  font-size: 20px;
  font-weight: normal;
  font-family: var(--lato);

  letter-spacing: 0.36px;
  color: #ffffff;
  opacity: 1;
  margin: 20px 0px 40px 0px;
}



@media screen and (min-width: 768px) {
  .homepage__banner__mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1800px) {
  .homepage__banner {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .homepage__banner__mobile {
    margin-top: 86px;
    margin-left: 0px;
    /* height: 30vh; */
  }

  .homepage__banner {
    display: none;
  }
  .carousel__caption {
    display: none;
  }
}
