.carousel {
  width: 100%;
  margin: 0 auto;

  overflow: hidden;
}

.carousel__inner {
  display: flex;
  width: 100vw;
  gap: 48px;
  transition: transform 0.3s;
}

.natural__carousal__container__desktop {
  width: 100%;
}

.natural__carousal__image__single__slide {
  height: 574px;
  width: 1248px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.natural__carousal__image__single__slide > h4 {
  font-size: 20px;
  color: #6c6c6c;
  font-family: var(--playfair-text);
  margin: 23px 0 0 0;
}

.natural__carousal__image__single__slide > img {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .natural__carousal__container__mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .arrow_natural {
    height: 33px;
    width: 33px;
  }

  /* .arrow-right_natural {
      right: 4%;
    }
    .arrow-left_natural {
      left: -15%;
    } */

  .natural__carousal__image__single__slide {
    width: 250px;
    height: 327px;
    /* border: 1px solid red; */
    padding: 0 20px;
  }
}
