/* collection Banner style  */

.middle__section__chips {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .bannerCollection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 230px;
    background: #f6f6f6 0% 0% no-repeat padding-box;
    margin-top: var(--header-height-desktop);
  }

  .bannerCollectionMainHeader {
    font-weight: bold;
    font-family: var(--raleway);
    font-size: 32px;
    letter-spacing: 0.58px;
    color: #1d1d1b;
    text-transform: uppercase;
  }
  .animation__title {
    font-weight: bold;
    font-family: var(--raleway);
    font-size: 32px;
    letter-spacing: 0.58px;
    color: #1d1d1b;
    text-transform: uppercase;
    transform: translateY(100px);
    transition: transform 1s;
  }

  /* animation */

  @keyframes slide_up {
    from {
      bottom: 50px;
    }
    to {
      bottom: 0;
    }
  }

  .bannerCollectionMainHeaderData {
    font-weight: normal;
    font-family: var(--raleway);
    font-size: 20px;
    letter-spacing: 0.36px;
    color: #6c6c6c;
    margin-top: 10px;
    text-transform: uppercase;
  }

  /* Middle Section  */

  .middle__section__container {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: auto;
  }

  /* Middle section Chips */

  .middle__section__chips__container {
    display: grid;
    gap: 17px;
    width: 80%;
    margin-top: 41px;
    overflow-x: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .middle__section__chips {
    width: 100%;
    width: max-content;
    min-width: 140px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #1d1d1b;
    border-radius: 22px;
    opacity: 1;
  }
  .middle__section__chips__container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .middle__section__chips > p {
    font: normal normal normal 0.9rem var(--lato);
    letter-spacing: 0px;
    color: #1d1d1b;
    opacity: 1;
    padding: 10px;
    text-transform: capitalize;
  }

  @media screen and (min-width: 768px) and (max-width: 1050px) {
    .middle__section__chips > p {
      font: normal normal normal 0.7rem var(--lato);
      letter-spacing: 0px;
      color: #1d1d1b;
      opacity: 1;
      padding: 10px;
    }
    .middle__section__chips__container {
      display: grid;
      gap: 17px;
      width: 80%;
      margin-top: 41px;
      overflow-x: scroll;
    }
    .middle__section__chips {
      width: 104px;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
    }
    .middle__section__chips__container::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }

  /* Middle Section Cards / */

  .middle__section__cards__container {
    display: grid;
    width: 100%;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
    margin: 50px auto;
    gap: 25px;
  }

  .middle__section__button {
    border: 1px solid #1d1d1b;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 31px;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  .bannerCollection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    background: #f6f6f6 0% 0% no-repeat padding-box;
    margin-top: var(--header-height-mobile);
  }

  .bannerCollection > h1 {
    font-weight: bold;
    font-family: var(--raleway);
    font-size: 20px;
    letter-spacing: 0.58px;
    color: #1d1d1b;
    text-transform: uppercase;
  }

  .bannerCollection > h4 {
    font-weight: normal;
    font-family: var(--raleway);
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #6c6c6c;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    width: 80%;
  }

  /* Middle Section  */

  .middle__section__container {
    display: flex;
    flex-direction: column;
    width: 90%;

    margin: auto;
  }

  /* Middle section Chips */

  .middle__section__chips__container {
    width: 100%;
    margin-top: 41px;
    overflow-x: scroll;
    display: grid;
    gap: 17px;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .middle__section__chips__container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .middle__section__chips {
    width: max-content;
    min-width: 102px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #1d1d1b;
    border-radius: 22px;
    opacity: 1;
  }

  .middle__section__chips > p {
    font: normal normal normal 13px var(--lato);
    letter-spacing: 0px;
    color: #1d1d1b;
    opacity: 1;
    padding: 10px;
  }

  /* Middle Section Cards / */

  .middle__section__cards__container {
    display: grid;
    width: 100%;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
    margin: 50px auto;
    gap: 25px;
    place-items: center;
  }

  .middle__section__button {
    border: 1px solid #1d1d1b;
    border-radius: 50%;
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1px;
    cursor: pointer;
  }
}
