.main__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  box-shadow: 2px 2px 20px #82828214;
  background: #ffffff 0% 0% no-repeat padding-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.main__header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 2000px;
  margin: auto;
  background: inherit;

  padding: 0 96px;
}

.main__header__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 96px; */
  height: 100%;

  /* border: 1px solid blue; */
}

.main__header__mono__link,
.header_drop_down_menu {
  font-size: 16px;
  text-decoration: underline;
  font-family: var(--raleway);
  letter-spacing: 0.29px;
  color: var(--black);
  font-weight: medium;
  text-transform: capitalize;
  opacity: 1;
  margin-right: 30px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header_drop_down_menu {
  /* border: 1px solid red; */
  position: relative;
}

.header__drop__down__categories {
  visibility: hidden;
  pointer-events: none;
  display: none;
  padding: 20px 10px;
}

.header_drop_down_menu:hover > .header__drop__down__categories {
  visibility: visible;
  pointer-events: all;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 0;
  background-color: #fff;
  width: 250px;
  transition: all ease-in-out 0.3s;
  border-top: 2px solid var(--green);
  box-shadow: 2px 2px 5px #6c6c6c;
}

.header__drop__down__category {
  color: var(--grey);
  text-decoration: none;
  padding: 10px;
  margin: 5px 0;
  font-weight: 400 !important;
}

.header__drop__down__category:hover {
  color: var(--black);
  /* text-decoration: underline; */
  background-color: rgb(243, 249, 241);
}

.main__header__logo {
  width: 192px;
  height: 100px;
  background-color: var(--green);
  left: 0;
  right: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__header__right__icon {
  height: 33px;
  width: 28px;
}

.main__header__mob {
  display: none;
}

@media screen and (max-width: 768px) {
  .main__header {
    display: none;
  }

  .main__header__mob {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    z-index: 10;
    background-color: #fff;
    width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 5px #00000029;
    /* border: 1px solid red; */
  }

  .header__logo__mob {
    width: 107px;
    height: 100%;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main__header__mob__side__drawer {
    position: fixed;
    top: 56px;
    left: 25%;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 6;
    transition: all 0.3s ease-in-out;
    padding: 30px 16px 16px 16px;

    display: flex;
    flex-direction: column;
  }

  .main__header__mob__overlay__hide {
    display: none;
    pointer-events: none;
  }

  .main__header__mob__overlay__show {
    position: fixed;
    top: 57px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    transition: all 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .header_mob_link {
    font-size: 16px;
    color: var(--grey);
    margin: 0 0 17px 0;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-family: var(--raleway);
    font-weight: 600;
  }

  .header_mob_link_active {
    font-size: 16px;
    color: var(--black);
    margin: 0 0 17px 0;
    /* text-transform: uppercase; */
    font-family: var(--raleway);
    font-weight: 600;
  }

  .main__header__mob__hamburger,
  .main__header__mob__hamburger_open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    width: 20px;
    height: 16px;
    margin-right: 20px;
  }

  .main__header__mob__hamburger_open {
    height: unset;
  }

  .hamburger_btn_burger_1,
  .hamburger_btn_burger_2,
  .hamburger_btn_burger_3 {
    background-color: #1d1d1b;
    height: 2px;
    width: 22px;
  }

  .main__header__mob__hamburger_open > .hamburger_btn_burger_1 {
    transform: rotate(45deg) translate(-1.5px, 6.5px);
    transition: all 0.3s ease-in-out;
  }

  .main__header__mob__hamburger_open > .hamburger_btn_burger_3 {
    transform: rotate(-45deg) translate(-3.5px, -4.5px);
    transition: all 0.3s ease-in-out;
  }

  .main__header__mob__hamburger_open > .hamburger_btn_burger_2 {
    visibility: hidden;
    /* transition: all 0.3s ease-in-out; */
  }

  .header__drop__down__categories_mob {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 20px;
  }

  .header__drop__down__category_mob {
    font-size: 14px;
    color: var(--grey);
    margin: 0 0 17px 0;
    text-decoration: none;
    font-family: var(--raleway);
  }
}
